@import "../../styles/palette.less";
@import "../../styles/media";

.Details {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
}

.Details-Title {
    color: @primary-color;    
}

.Details-Rating {
    color: @primary-color;
    margin-left: 25px;
    font-size: 0.7em;
    font-weight: 100;
    border: 1px solid white;
    background: white;
    border-radius: 50px;
    padding: 5px;
    font-family: initial;
    display: inline-block;
    min-width: 20px;
    text-align: center;
}

.Details-Poster {
    width: 250px;
}

.Details-Header {
    display: flex;
    align-items: center;
}

@media @phone {
    .Details {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        p {
            margin: 0.7em 0;
        }
    }

    .Details-Poster {
        width: initial;
    }

    .Details-Header {
        margin: 10px 0;
    }
}
