@import "../../styles/palette";

.NotFound {
    padding: 25px;
    background: white;
    min-height: 550px;
    display: flex;
    align-items: center;
}

.NotFound-Header {
    margin: unset;
    text-align: center;
    color: @basic-color;
    font-size: 3em;
    font-weight: unset;    
}