#status {
    padding: 25px 50px;
    background: #CDCDCD;
    .container {
        display: flex;
        flex-flow: row nowrap;
        .count {
            flex: 1;
        }
        .link {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

