body {
    margin: 0;
    background: black;
}

img {
    width: 100%;
}

#app {
    max-width: 1111px;
    margin: 0 auto;
}

.sitename {
    color: hotpink;
    font-size: 1.5em;
    font-weight: bold;
}


/* BUTTONS */

.btn {
    padding: 3px 9px;
    border: none;
    box-shadow: 1px 1px 5px #444;
}

.btn-primary {
    background: hotpink;
    color: white;
}

.btn-basic {
    background: gray;
    color: white;
}

.btn-default {
    background: white;
    color: hotpink;
}


/* LINKS */

a,
.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: hotpink;
}

.link-primary {
    color: hotpink;
}


/* INPUT FIELDS */

input:focus {
    background: yellow;
}

input:focus,
button:focus {
    outline: none;
}

/* TEXT */
.text-primary {
    color: hotpink;
}

.text-basic {
    color: #bbb;
}