#films,
#search-results {
    padding: 25px 50px;
}

#films {
    background: white;
}

#search-results {
    background: #CDCDCD;
    display: flex;
    flex-flow: row nowrap;
}

#search-results .count {
    flex: 1;
}

#search-results .link {
    margin-left: 10px;
}

#films {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

#films .film {
    flex-basis: 225px;
}

#films .film img {
    width: 100%;
}

.film .top-info {
    display: flex;
    flex-flow: row nowrap;
}

.film .title {
    flex: 1;
    font-size: 1.3em;
}

.film .year {
    border: 1px solid black;
    padding: 3px;
}