@import './searchform.css';
@import './filmdetails.css';

#header {
    background: #242424;
    padding: 25px 50px;
    color: white;
}

#nav {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

#nav .sitename {
    color: hotpink;
    font-size: 1.5em;
    font-weight: bold;
    flex: 1;
}

.btn-search {
    padding: 5px 50px;
    border-radius: 3px;
}