#search-form {
    display: flex;
    flex-flow: column wrap;
}

#search-form form {
    display: flex;
    flex-flow: row wrap;
}

#search-form input[type='text'] {
    flex-basis: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid #111111;
    border-bottom-color: hotpink;
    box-shadow: 1px 1px 5px #333;
    margin-bottom: 15px;
}

#search-form #search-props {
    flex: 1;
}

#search-form #search-props button {
    margin-left: 10px;
}